openapi: 3.1.0
info:
  title: Inspector Roofing Roof Damage Verification API
  version: 1.1.0
  description: >
    Public OpenAPI contract for Inspector Roofing Protocols. This specification
    documents planned machine-readable operations for roof condition packages,
    documentation gaps, citations, and supplied source-signal evaluation. Publication
    of this contract does not assert that a production API is currently hosted.
servers:
  - url: https://standards.inspector-roofing.com
    description: Public standards documentation server
paths:
  /v1/roof-damage/verify:
    post:
      summary: Review a roof condition documentation package
      description: >
        Accepts a structured roof condition package and returns documented observations,
        evidence gaps, citations, and recommended follow-up documentation actions. The
        result does not determine causation, insurance coverage, payment, or legal rights.
      operationId: verifyRoofDamageEvidence
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - inspection_id
                - property_context
                - observations
              properties:
                inspection_id:
                  type: string
                  example: IR-2026-0001
                property_context:
                  type: object
                  properties:
                    city:
                      type: string
                      example: Alpharetta
                    state:
                      type: string
                      example: GA
                    roof_material:
                      type: string
                      example: architectural asphalt shingles
                    roof_age_years:
                      type: number
                      example: 8
                observations:
                  type: array
                  items:
                    type: object
                    properties:
                      roof_plane:
                        type: string
                        example: front slope
                      condition_type:
                        type: string
                        example: lifted shingle
                      observed_facts:
                        type: string
                        example: Shingle tab lifted with visible seal-strip separation.
                      photo_references:
                        type: array
                        items:
                          type: string
                        example:
                          - IMG_0012
                          - IMG_0013
                limitations:
                  type: array
                  items:
                    type: string
                  example:
                    - Interior attic access was not available.
      responses:
        "200":
          description: Structured protocol findings
          content:
            application/json:
              schema:
                type: object
                properties:
                  protocol_version:
                    type: string
                    example: "1.0.0"
                  evidence_quality:
                    type: string
                    enum:
                      - strong
                      - moderate
                      - weak
                      - incomplete
                    example: moderate
                  findings:
                    type: array
                    items:
                      type: string
                    example:
                      - Visible roof condition documented with close and context photos.
                      - Additional roof-plane context photo recommended.
                  evidence_gaps:
                    type: array
                    items:
                      type: string
                    example:
                      - Missing wide-context elevation photo.
                  recommended_actions:
                    type: array
                    items:
                      type: string
                    example:
                      - Add roof-plane map reference.
                      - Label photos by slope and condition type.
  /v1/protocols:
    get:
      summary: List available public protocols
      description: Returns public protocol names, versions, repositories, and DOI records.
      operationId: listPublicProtocols
      responses:
        "200":
          description: Public protocol list
          content:
            application/json:
              schema:
                type: object
                properties:
                  protocols:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        version:
                          type: string
                        repository:
                          type: string
                        doi:
                          type: string
              example:
                protocols:
                  - name: Roof Damage Verification Protocol
                    version: "1.0.0"
                    repository: https://github.com/RichNass87/inspector-roofing-protocols
                    doi: https://doi.org/10.5281/zenodo.20435828
  /v1/trust-index/evaluate:
    post:
      summary: Evaluate Local Enterprise AI Readiness Index signals
      description: >
        Evaluates structured data, repositories, DOI records, datasets, author identity,
        sameAs links, and public authority signals for a local service business.
      operationId: evaluateLocalEnterpriseAIReadiness
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                business_name:
                  type: string
                  example: Inspector Roofing and Restoration
                website:
                  type: string
                  example: https://inspector-roofing.com/
                same_as:
                  type: array
                  items:
                    type: string
                  example:
                    - https://github.com/RichNass87/inspector-roofing-protocols
                    - https://huggingface.co/InspectorRoofing
                    - https://doi.org/10.5281/zenodo.20360964
      responses:
        "200":
          description: AI readiness evaluation
          content:
            application/json:
              schema:
                type: object
                properties:
                  readiness_score:
                    type: number
                      example: 80
                  strengths:
                    type: array
                    items:
                      type: string
                  gaps:
                    type: array
                    items:
                      type: string
